export( "sfaFLW" )

S3method( "fitted", "sfaFLW" )
S3method( "residuals", "sfaFLW" )

importFrom( "bbmle", "mle2" )
importFrom( "bbmle", "coef" )
importFrom( "np", "gradients" )
importFrom( "np", "npreg" )
importFrom( "np", "npregbw" )
importFrom( "stats", "fitted" )
importFrom( "stats", "pnorm" )
importFrom( "stats", "residuals" )
importFrom( "stats", "sd" )
